/* You can add global styles to this file, and also import other style files */
html,
body,
.bg-main {
  background-color: #000009;
}

.bg-secondary-colour {
  background-color: #7e1921;
}

.bg-third {
  background-color: #d41936;
}

.bg-muted {
  background-color: #e3e3e3;
}
